<template>
  <label class="label" :for="`${name}`">{{ label }}
  <input id="`${name}`" class="input" :type="`${type}`" :name="`${name}`" :placeholder="`${placeholder}`" :required="`${required}`"></label>
</template>

<script>
export default {
  name: "FormInput",
  props: {
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: false,
    },
    type: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      required: false,
    },
    required: {
      type: String,
      required: false,
    }
  }
}
</script>

<style scoped>
.input, .label {
  width: 100%;
}
.input {
  height: 50px;
  border: 0px;
  border-radius: 0px;
  padding: 15px 15px 8px;
  margin-top: 5px;
  font-family: 'Andika', sans-serif;
  font-size: 17px;
  letter-spacing: -1px;
}
.input:focus {
  border: 0px;
  box-shadow: inset #da6c54;
}
.label {
  font-family: Oswald-Bold;
  margin-bottom: 20px;
}
</style>