<template>
  <label class="label" :for="`${name}`">{{ label }}</label>
  <textarea class="textarea" :name="`${name}`" :placeholder="`${placeholder}`" :required="`${required}`" rows="7"></textarea>
</template>

<script>
export default {
  name: "FormTextarea",
  props: {
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
    },
    required: {
      type: String,
      required: false
    }
  }
}
</script>

<style scoped>
.label {
  font-family: Oswald-Bold;
  padding-bottom: 5px;
}
.label, .textarea {
  width: 100%;
}
.textarea {
  border: 0px;
  border-radius: 0px;
  padding: 15px 15px 8px;
  margin-top: 5px;
  font-family: 'Andika', sans-serif;
  font-size: 17px;
  letter-spacing: -1px;
  margin-bottom: 25px;
  resize: none;
}
@media (min-width: 1024px) {
  .textarea {
    margin-bottom: 35px;
  }
}
</style>