<script>
export default {
  name: "buttonMixin",
  props: {
    props: {
      btn_size: {
        type: String,
        required: false,
      },
      btn_type: {
        type: String,
        required: false,
      }
    },
  },
  data() {
    return {
      ripples: [],
      btn_size: '',
      btn_type: '',
    }
  },
  methods: {
    animateRipple: function(e) {
      let el  = this.$refs.rippleBtn;
      let pos = el.getBoundingClientRect();

      this.ripples.push({
        x: e.clientX - pos.left,
        y: e.clientY - pos.top,
        show: true
      });
    },
    rippleEnd: function(i) {
      this.ripples[i].show = false;
     // this.ripples.splice(i);
    }
  },
}
</script>

<style scoped>

</style>