<template>
  <div class="container">
    <div class="content-wrap">
      <h1 class="page-title">Про нас та нашу місію</h1>
      <div class="text-primary text-decor i-b">
        <p class="text-bold">
          “Ніколи не сумнівайтеся, що невелика група вдумливих і відданих громадян може змінити світ. Насправді це єдиний спосіб, який будь-коли існував”,<br>
          – Маргарет Мід
        </p>
      </div>
      <img class="image-sepia" src="api/images/2.jpg">
      <p class="image-description i-b">Фото кам’яниці до псевдореставрації. Джерело: </p>
      <h3>Коротка історія будівлі та її історична цінність</h3>
      <div class="text-content">
        <p class="i-b">
          Будівлю звели у 1913 році. Готель, при якому також працювали ресторан, кінотеатр та крамниця, назвали «Австрією». Після Першої світової війни, коли влада у місті змінились, готель перейменували на «Варшаву».
          У часи ЗУНР (особливо коли в 1919 році Івано-Франківськ став її столицею) тут жив президент ЗУНР Євген Петрушевич, а також зупинялись Михайло Грушевський, Симон Петлюра, Володимир Винниченко.
          Для міської (та загальноукраїнської) історії цей готель особливо важливий через дві події:
        </p>
        <p class="text-bold i-b">
          1) 3 січня 1919 року тут був підписаний Акт злуки УНР та ЗУНР.<br>
          2) У пам’ять про цю подію в січні 1990 року саме звідси починався Ланцюг єдності: коли майже 3 мільйони людей, тримаючись за руки, створили ланцюг від Івано-Франківська до Києва.
        </p>
      </div>
    </div>
  </div>
</template>
<style scoped>
.content-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 17%;
}
</style>
