<template>
  <div class="container">
    <h1 class="page-title">Галерея</h1>
    <p>Незабаром тут можна буде побачити галерею світлин від початку 20 століття до сьогодні та архівні документи</p>
  </div>
</template>

<script>
export default {
  name: "Gallery"
}
</script>

<style scoped>

</style>