<template>
  <div class="container">
    <home-article-feature :article="feature_article"></home-article-feature>
    <home-article-list :el="articles_list_el"></home-article-list>
  </div>
  <home-support :support_content="support_content"></home-support>
  <home-media :title="media_title" :content="media_content"></home-media>
  <home-contact :contact="contact" :form="contact_form" ></home-contact>
</template>

<script>
import axios from "axios";
import HomeArticleFeature from "@/components/HomeArticleFeature";
import HomeArticleList from "@/components/HomeArticleList";
import HomeSupport from "@/components/HomeSupport";
import HomeMedia from "@/components/HomeMedia";
import HomeContact from "@/components/HomeContact";


export default {
  name: 'Home',
  components: {
    HomeContact,
    HomeMedia,
    HomeSupport,
    HomeArticleFeature,
    HomeArticleList,
  },
  data() {
    return {
      content: [],
      feature_article: {},
      articles_list_el: {},
      support_content: {},
      media_title: "",
      media_content: [],
      contact: {},
      contact_form: {},
    }
  },
  methods: {
    async fetchSections() {
      try {
        const response = await axios.get('api/homepage');
        this.content = response.data.data;
        this.feature_article = this.content[0];
        this.articles_list_el = this.content[1];
        this.support_content = this.content[5];
        this.media = this.content[3];
        this.media_title = this.media.title;
        this.media_content = JSON.parse(this.media.elements);
        this.media_content = this.media_content.elements;
        this.contact = this.content[4];
        this.contact_form = JSON.parse(this.contact.elements);
        this.contact_form = this.contact_form.elements.contact_form;
      } catch (error) {
        console.error(error)
      }
    }
  },
  mounted() {
     this.fetchSections();
  }
}
</script>
