<template>
 <div class="container">
  <h1 class="page-title">{{ title }}</h1>
   <post-list :news="news"></post-list>
 </div>
</template>

<script>
import PostList from "@/components/PostList";
import axios from "axios";
export default {
  name: "News",
  components: {PostList},
  data() {
    return {
      title: '',
      description: '',
      news: []
    }
  },
  methods: {
    async getNews() {
      try {
        const response = await axios.get('api/articles')
        this.news = response.data.data.posts
        console.log(response)
      } catch (err) {
        console.error(err)
      }
    }
  },
  mounted() {
    this.getNews()
  }
}
</script>

<style scoped>

</style>