<template>
  <div class="container">
    <h1 class="page-title text-center heading-large">{{ page.title }}</h1>
    <post-cta v-for="post in posts"
              :post="post"
              :key="post.id"
    ></post-cta>
  <div class="text-accent"><p>{{ page.intro }}</p></div>
  </div>
</template>

<script>
import axios from "axios";
import PostCta from "@/components/PostListItemCta";

export default {
  name: "Support",
  components: {PostCta},
  data() {
    return {
      posts: [],
      page: {},
    }
  },
  methods: {
    async getContent() {
      try {
        const response = await axios.get('api/support')
        this.posts = response.data.data.posts;
        this.page = response.data.data.page;
      } catch (e) {
        console.log(e)
      }
    }
  },
  mounted() {
    this.getContent();
  }
}
</script>

<style scoped>
.page-title {
  margin-bottom: 130px;
}
.text-accent {
  font-family: Oswald-Light;
  background-color: #EAD692;
  padding: 25px;
  margin-top: 80px;
}
</style>