<script setup>
import MemberList from "@/components/MemberList";
import axios from "axios";
import Divider from "@/components/UI/Divider";
import {onMounted, ref} from "vue";

const members = ref([])
const content = ref({})
const preloader = ref(true)
const page_body = ref({})
const widget = ref({})
const description = ref("")

const getMembers = async() => {
  try {
    const response = await axios.get('api/members')
    content.value = response.data.data.page;
    members.value = response.data.data.members;
    page_body.value = JSON.parse(content.value.post_body);
    widget.value = page_body.value.widget;
    description.value = page_body.value.description;
  } catch (e) {
    console.log(e)
  }
}
onMounted(() => {
  getMembers()
  if(members.value.length) {
    preloader.value = false
  }
  console.log(content)
})

</script>
<template>
  <div class="container">
    <h1 class="page-title">{{ content.title }}</h1>
    <div v-if="!content" class="preloader">
    </div>
    <div v-else class="content-wrap">
      <div class="content">
      <p>{{ content.intro }}</p>
      </div>
      <div class="contact-widget">
        <h3 class="widget title">
          {{ widget.title }}
        </h3>
        <p class="phone">{{ widget.phone }}</p>
        <p class="email">{{ widget.mail }}</p>
      </div>
    </div>
    <member-list :members="members"></member-list>
    <Divider class="top-indent"/>
    <div class="page-description">
      {{ description }}
    </div>
  </div>
</template>

<style scoped>
.content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
}
.page-description {
  position: relative;
  background-color: #EAD692;
  padding: 25px;
  text-align: center;
  font-family: Oswald-Bold,serif;
  margin: -10px -10px -60px;
  font-size: 1.3em;

}
.top-indent {
  margin-top: 50px;
  z-index: 2;
}
.content-wrap {
  flex-direction: column;
  gap: 30px;
}
.content {

}
.contact-widget {
  padding: 20px;
  background-color: #ADC9A9;
}
.preloader {
  min-height: 400px;
  width: 100%;
  background-color: #42b983;
}
@media (min-width: 768px) {
  .content-wrap {
    flex-direction: row;
  }
  .content {
    flex-basis: 570px;
  }
  .contact-widget {
    flex-basis: 370px;
    padding: 20px;
    background-color: #ADC9A9;
  }
}
@media (min-width: 1024px)  {
  .page-description {
    height: 124px;
    margin-bottom: -138px;
    font-size: 2em;
    padding: 43px 25px;
  }
  .top-indent {
    margin-top: 100px;
  }
}
@media (min-width: 1460px)  {
  .page-description:before, .page-description:after {
    position: absolute;
    display: block;
    content: " ";
    width: 104px;
    height: 104px;
    background-color: #EAD692;
    border: 10px solid #2E3339;
    background-image: url("../assets/images/tile_child.svg");
    background-size: cover;
    top: 0px;
  }
  .page-description:before {
    left: -124px;
  }
  .page-description:after {
    right: -124px;
  }
}
</style>