<template>
  <form class="contact-form" @submit.prevent>
    <h3 class="contact-title">{{ form.title }}</h3>
    <div class="fields-wrap">
      <FormInput
          :name="form.name?.name"
          :label="form.name?.label"
          :placeholder="form.name?.placeholder"
          :type="form.name?.type"
          :required="form.name?.required"
      ></FormInput>
      <FormInput
          :name="form.phone?.name"
          :label="form.phone?.label"
          :placeholder="form.phone?.placeholder"
          :type="form.phone?.type"
          :required="form.phone?.required"
      ></FormInput>
    </div>
    <FormTextarea
        :name="form.message?.name"
        :label="form.message?.label"
        :placeholder="form.message?.placeholder"
        :type="form.message?.type"
        :required="form.phone?.required"
    ></FormTextarea>
    <ButtonMiddle
        @click="submit"
        class="btn-secondary btn-full"
    >{{ form.submit?.label }}
    </ButtonMiddle>
  </form>
  <p class="form-description">{{ form.description }}</p>
</template>

<script>
import FormInput from "@/components/UI/forms/FormInput";
import FormTextarea from "@/components/UI/forms/FormTextarea";
import ButtonMiddle from "@/components/UI/buttons/ButtonMiddle";

export default {
  name: "ContactForm",
  components: {ButtonMiddle, FormTextarea, FormInput},
  props: {
    form: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      message: {
        name: "",
        email: "",
        body: ""
      }
    }
  },
  methods: {
    submit() {

    }
  }
}
</script>

<style scoped>
.contact-form {
  display: flex;
  flex-direction: column;
}
.fields-wrap {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 35px;
}
.form-description {
  text-align: center;
  margin: 50px 0;
  font-family: "Andika", sans-serif;
  letter-spacing: -1px;
  font-size: 1em;
  color: #2E3339;
  line-height: 1.2em;
}
@media(min-width: 1024px)  {

  .contact-form {
    padding-top: 15px;
  }
  .form-description {
    margin: 25px 0 0;
    text-align: left;
  }
}
@media (min-width: 768px)  {
  .fields-wrap {
    flex-direction: row;
    gap: 30px;
  }
}
</style>