<template>
  <div class="date-board">
    <div class="city">{{ city }}</div>
    <div class="date"> {{ date }}</div>
  </div>
</template>

<script>
import dayjs from "dayjs";

export default {
  name: "DateBoard",
  data() {
    return {
      date: Date.now(),
    }
  },
  props: {
    city: {
      type: String,
      required: true
    }
  },
  methods: {
    formatDate(dateString) {
      const day = dayjs(dateString);
      return day.format('dddd D MMMM YYYY');
    }
  },
  mounted() {
    this.date = this.formatDate(this.date);
  }
}
</script>

<style scoped>
.date-board, .city, .date {
  text-align: left;
  font-size: 14px;
  max-width: 240px;
}
.city, .date-board {
  display: none;
}
@media (min-width: 1024px)  {
  .city, .date-board{
    display: block;
  }
}
</style>