<template>
<div class="footer-branding">
  <div class="footer-logo"></div>
  <div class="site-title">
    <span class="title">{{ title }}</span>
    <span class="subtitle">{{ subtitle }}</span>
  </div>
</div>
</template>

<script>
export default {
  name: "FooterBranding",
  props: {
    title: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    }
  }
}
</script>

<style scoped>
.footer-branding {
  display: flex;
  flex-direction: row;
  max-width: 316px;
  max-height: 135px;
  margin-bottom: 40px;
  gap: 0 25px;
}
.footer-logo {
  width: 111px;
  height: 135px;
  background-image: url("../assets/Logo.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.site-title {
  font-family: Oswald-Bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #2E3339;
}
.title {
  width: 100%;
  font-size: 29px;
  line-height: 29px;
  margin-bottom: 4px;
  letter-spacing: 3px;
  text-align: right;
}
.subtitle {
  width: 100%;
  font-size: 50px;
  line-height: 50px;
}
@media(min-width: 1024px)  {
  .footer-branding {
    margin-bottom: 60px;
  }
}
</style>