<template>
  <li class="nav-item"><a class="nav-link" :class="{'router-link-active': $route.fullPath === item.href}" @click="$router.push(`${item.href }`)">
    {{ item.title }}</a>
  </li>
</template>

<script>
export default {
  name: "FooterMenuItem",
  props: {
    item: {
      type: Object,
      required: true,
    }

  }
}
</script>

<style scoped>
.nav-link, .nav-item {
  position: relative;
  text-decoration: none;
  font-family: Oswald-Bold;
  color: #000000;
  cursor: pointer;
  font-size: 21px;
}
.nav-item {
  flex-basis: calc(50% - 15px);
}
.nav-link {
  display: flex;
  background-color: #EDEAE5;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 1023px){
  .nav-item {
    text-align: left;
    flex-basis: 162px;
  }
  .nav-link {
    justify-content: flex-start;
    text-align: left;
  }
}
@media (min-width: 1024px)  {
  .nav-link, .nav-item {
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    text-align: unset;
    justify-content: unset;
  }
  .nav-item {
    flex-basis: 150px;
    flex-grow: unset;
    text-align: left;
  }
  .nav-link {
    padding: 5px 0;
  }
}
</style>