<template>
<ul class="footer-menu">
  <FooterMenuItem
      v-for="item in menu"
      :key="item.id"
      :item="item"
      class="nav-item"
  />
</ul>
</template>

<script>
import FooterMenuItem from "@/components/FooterMenuItem";
export default {
  name: "FooterMenu",
  components: {FooterMenuItem},
  props: {
    menu: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.footer-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  gap: 10px 15px;
  max-width: 395px;
}
@media(min-width: 768px) and (max-width: 1023px) {
  .footer-menu {
    margin-bottom: 30px;
  }
}
@media(min-width: 1024px) {
  .footer-menu {
    gap: 10px 50px;
    flex-basis: 400px;
    margin-bottom: 20px;
  }
}
</style>