<template>
  <post-list-item v-if="article" :post="article" class="leading-article"/>
  <div class="article-list ">
    <post-list-item-card class="article-list__item"
                  v-for="post in articles"
                  :key="post.id"
                  :post="post"
    ></post-list-item-card>
  </div>
  <div class="button-container indent-huge">
    <button-base :class="[el?.link_type, el?.link_size]">{{ el?.link_text }}</button-base>
  </div>
</template>

<script>
import axios from "axios";
import PostListItem from "@/components/PostListItem";
import PostListItemCard from "@/components/PostListItemCard";

export default {
  name: "HomeArticleList",
  components: {PostListItemCard, PostListItem},
  data() {
    return {
       articles: [],
       article: {},
    }
  },
  props: {
    el: {
      type: Object,
      required: true
    }
  },
  methods: {
    async fetchFeatureArticles() {
      try {
        const response = await axios.get('api/feature-articles');
        this.articles = response.data.data.articles;
        this.article = this.articles[0];
        this.articles = this.articles.splice(1,4);
      } catch (e) {
        console.log(e)
      }
    }
  },
  mounted() {
    this.fetchFeatureArticles();
  }
}
</script>

<style scoped>
.article-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px)  {
  .article-list {
    flex-direction: row;
  }
}
</style>