<template>
<div class="container media-container">
  <h3 class="heading-large">{{ title }}</h3>
  <div class="media">
    <home-media-item class="media_item"
                      v-for="item in content"
                     :key="item.id"
                     :item="item"
    ></home-media-item>
    <Divider class="mobile-only"/>
  </div>
</div>
</template>

<script>
import HomeMediaItem from "@/components/HomeMediaItem";
import Divider from "@/components/UI/Divider";
export default {
  name: "HomeMedia",
  components: {Divider, HomeMediaItem},
  props: {
    title: {
      type: String,
      required: true
    },
    content: {
      type: Array,
      required: true,
    }
  }
}
</script>

<style scoped>
.media-container {
  padding: 100px 15px 50px;
}
.heading-large {
  margin-bottom: 30px;
}
.media {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.media_item {
  position: relative;
  flex-grow: 1;
  flex-basis: 162px;
  min-height: 72px;
  border: 10px solid #ffffff;
}
@media (min-width: 768px)  {
  .media_item {
    flex-basis: 300px;
    min-height: 160px;
  }
}
@media(min-width: 1024px)  {
  .media-container {
    padding: 130px 15px;
  }
  .heading-large {
    margin-bottom: 40px;
  }
}
</style>