<template>
  <div class="feature-article indent-huge">
    <div class="article-image image-sepia" :style="{'background-image': 'url('+`${article.image}`+')'}">
    </div>
    <div class="content">
      <div class="article">
        <h2 class="heading-large">{{ article.title }}</h2>
        <div class="intro">{{ article.description }}</div>
      </div>
      <div class="buttons">
        <button-middle
            @click="$router.push('/about')"
            :class="article.link_type"
            class="btn-full indent-small">
          {{ article.link_text }}
          </button-middle>
        <button-middle
            @click="$router.push('/')"
            class="btn-info btn-full"
        >Віртуальний тур
        </button-middle>
      </div>
    </div>
  </div>
  <Divider class="indent-huge"/>
</template>

<script>
import ButtonMiddle from "@/components/UI/buttons/ButtonMiddle";
export default {
  name: "HomeArticleFeature",
  components: {ButtonMiddle},
  props: {
    article: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>
.feature-article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
}
.article-image {
  min-height: 345px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}
.article {
  margin-bottom: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
@media (min-width: 768px)  {
  .feature-article {
    flex-direction: row;
  }
  .image-wrap {
    max-height: 570px;
    flex-grow: 1;
    max-width: 50%;
  }
  .content {
    max-width: 50%;
  }
}
</style>