<template>
  <div class="color-wrap">
    <div class="container form-container">
      <div class="form-wrap">
        <contact-form :form="form"></contact-form>
        <Divider class="mobile-only"/>
      </div>
      <div class="content-wrap">
        <h3 class="contact-title">{{ contact.title }}</h3>
        <div class="contact-description">
          {{ contact.description }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ContactForm from "@/components/ContactForm";
import Divider from "@/components/UI/Divider";

export default {
  name: "HomeContact",
  components: {Divider, ContactForm},
  props: {
    contact: {
      type: Object,
      required: true,
    },
    form: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>
.color-wrap {
  padding: 35px 0;
  background-color: #ADC9A9;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 40px;
}
.contact-description {
  white-space: pre-wrap;
}
.form-wrap {
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .color-wrap {
    padding: 96px 0 90px;
  }
  .form-container {
    flex-direction: row;
    gap: 30px;
  }
  .content-wrap {
    padding-top: 15px;
    flex-grow: 1;
    flex-basis: 44%;
    padding-left: 30px;
  }
  .form-wrap {
    flex-basis: 56%;
    flex-grow: 1;
    padding-right: 60px;
    border-right: 10px solid #2E3339;
    border-bottom: 0px;
    margin-bottom: 0;
  }
  .contact-title {
    margin-bottom: 50px;
  }
}
</style>