<template>
  <div class="media_item">
      <a class="item_link" :href="item.href" target="_blank">
        {{ item.title }}
      </a>
    <div class="media_image" :style="{'background-image': 'url('+`${item_bg}`+')'}"></div>
  </div>
</template>

<script>
export default {
  name: "HomeMediaItem",
  props: {
    item: {
      type: Object,
      required: true,
    }
  },
  data() {
    return {
      item_bg: "",
    }
  },
  methods: {
    setImage() {
      this.item.image.trim() ? this.item_bg = this.item.image : this.item_bg = 'api/images/no-image.jpg'
    }
  },
  mounted() {
    this.setImage()
  }

}
</script>
<style scoped>
.media_image {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: center;
  background-size: cover;
  opacity: .1;
  z-index: -1;
}
.item_link {
  font-family: Oswald-Bold;
  font-size: 1.4em;
  position: absolute;
  display: block;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  opacity: .5;
}
</style>