<template>
<div class="color-wrap">
  <div class="container support-container">
    <div class="support">
      <h3 class="support_title">{{ support_content.title }}</h3>
      <div class="support_description">
        <p >{{ support_content.description }}</p>
      </div>
    </div>
    <div class="button-wrap">
      <button-base :class="[support_content.link_type, support_content.link_size, ]" class="support-button">{{ support_content.link_text }}</button-base>
    </div>
  </div>
</div>
</template>

<script>
export default {
  name: "HomeSupport",
  props: {
    support_content: {
      type: Object,
      required: true,
    }
  }
}
</script>

<style scoped>
.color-wrap {
  background-color: #6FAAC9;
  padding: 115px 0 50px 0;
}
.support-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.support-container:before {
  position: absolute;
  content: " ";
  width: 100px;
  height: 130px;
  top: -160px;
  left: calc(50% - 50px);
  background-image: url("../assets/images/blue_shield.svg");
  background-repeat: no-repeat;
}
.support_title {
  font-size: 2.3em;
  line-height: 1em;
  margin-bottom: 30px;
  letter-spacing: -2px;
}
.support {
  flex-basis: 100%;
  flex-grow: 1;
}
.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.support-button {
  width: 100%;
}
.support_description {
  font-size: 1.4em;
}
@media (min-width: 768px) {
  .support-container {
    display: flex;
    flex-direction: row;
  }
  .support {
    flex-basis: 50%;
  }
}
  @media (min-width: 1024px)  {
  .color-wrap {
    padding: 135px 0;
  }
  .support-container:before {
    width: 100px;
    height: 130px;
    top: -180px;
    left: 15px;
  }
  .support-container:after, .support:before, .support:after  {
    position: absolute;
    display: block;
    content: " ";
    width: 36px;
    height: 36px;
    background-color: #EDEAE5;
    border-radius: 50%;
    left: -90px;
  }
  .support-container:after {
    top: calc(50% - 18px);
  }
  .support:before {
    top: -90px;
  }
  .support:after {
    bottom: -90px;
  }
  .support_title {
    font-size: 3em;
    line-height: 1.2em;
  }
}
</style>