<template>
  <div class="branding">
    <img class="logo" alt="logo" src="../assets/Logo.svg">
    <h2 class="site-title">{{ title }}</h2>
  </div>
</template>

<script>
export default {
  name: "Branding",
  data() {
    return {}
  },
  props: {
    title: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.branding {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-grow: 1;
  justify-content: flex-start;
  max-height: 135px;
}
.logo {
  height: 34px;
  margin-right: 7px;
}
.site-title {
  display: inline-block;
  text-align: left;
  font-family: Oswald-Bold;
  text-transform: uppercase;
  font-size: 21px;
  color: #2E3339;
}
@media (min-width: 1024px) {
  .logo {
    height: 48px;
    margin-right: 10px;
  }
  .site-title {
    display: inline-block;
    text-align: left;
    font-size: 32px;
    color: #2E3339;
  }
  .branding {
    justify-content: center;
  }
}
</style>