<template>
  <div class="member-list">
    <member-list-item
        v-for="member in members"
        :key="member.id"
        :member="member"
    ></member-list-item>
  </div>
</template>

<script>
import MemberListItem from "@/components/MemberListItem";

export default {
  name: "MemberList",
  components: {MemberListItem},
  props: {
    members: {
      type: Array,
      required: true,
    }
  },
  data() {
    return {
      member: {},
    }
  },
}
</script>

<style scoped>
.member-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 50px 20px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .member-list {
    justify-content: flex-start;
    gap: 90px 30px;
  }
}
</style>