<template>
  <div class="member-card">
  <div class="img-frame">
    <div v-if="member.image">
      <div class="member-photo" :style="{'background-image': 'url('+`${member.image}`+')'}"></div>
    </div>
    <div v-else class="img-placeholder"></div>
  </div>
    <p class="member-name">
      {{ member.name }}
    </p>
    <p class="member-info">
      {{ member.description }}
    </p>
  </div>
</template>

<script>
export default {
  name: "MemberListItem",
  data() {
    return {
      host: '',
      placeholder: 'api/images/no-image.jpg'
    }
  },
  props: {
    member: {
      type: Object,
      required: true
    }
  },
  computed: {
    createImgLink() {
      return this.image ? this.host + this.image : this.host + this.placeholder
    }
  }
}
</script>

<style scoped>
.member-card {
  position: relative;
  flex-basis: 162px;
}
.img-frame {
  position: relative;
  border: 4px solid #2E3339;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 162px;
  border-radius: 10px;
}
.img-placeholder {
  position: absolute;
  left: 11px;
  top: 11px;
  right: 11px;
  bottom: 11px;
  background-image: url("../assets/images/no-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
.member-card:before, .member-card:after, .img-frame:before, .img-frame:after {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  content: "";
  z-index: 2;
}
.member-card:before {
  background: linear-gradient(-45deg, #2E3339 50%, #EDEAE5 0);
  top: 0;
  left: 0;
}
.member-card:after {
  background: linear-gradient(45deg, #2E3339 50%, #EDEAE5 0);
  top: 0;
  right: 0;
}
.img-frame:before {
  background: linear-gradient(45deg, #EDEAE5 50%, #2E3339 0);
  bottom: -4px;
  left: -4px;
}
.img-frame:after {
  bottom: -4px;
  right: -4px;
  background: linear-gradient(-45deg, #EDEAE5 50%, #2E3339 0);
}
.member-photo {
  position: absolute;
  display: block;
  left: 11px;
  top: 11px;
  right: 11px;
  bottom: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.member-name {
  text-align: center;
  font-family: Oswald-Bold;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.member-info {
  text-align: center;
  line-height: 1.4em;
}
@media (min-width: 769px) and (max-width: 1023px) {
  .member-card {
    flex-basis: 233px;
  }
  .img-frame {
    min-height: 233px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .member-card {
    flex-basis: 233px;
  }
  .img-frame {
    min-height: 233px;
  }
}
@media (min-width: 1200px) {
  .member-card {
    flex-basis: 270px;
  }
  .img-frame {
    min-height: 270px;
  }
}
  @media (min-width: 1024px)  {
  .img-frame {
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 35px;
  }
  .img-placeholder {
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
  }
  .member-card:before, .member-card:after, .img-frame:before, .img-frame:after {
    width: 29px;
    height: 29px;
  }
  .member-photo {
    position: absolute;
    display: block;
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
  }
  .member-name {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  .member-info {
    text-align: center;
  }
}
</style>