<template>
    <ul class="navlist">
      <nav-menu-item
          v-for="item in navmenu"
          :key="item.id"
          :item="item"
      ></nav-menu-item>
    </ul>
</template>

<script>
import NavMenuItem from "@/components/UI/links/NavMenuItem";
export default {
  name: "NavMenu",
  components: {NavMenuItem},
  props: {
    navmenu: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.navlist {
  margin: 25px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
}
.navitem {
  font-family: Oswald-Bold;
  margin-right: 35px;
  font-size: 21px;
  cursor: pointer;
}

@media (min-width: 1024px)  {
  .navlist {
    gap: 35px;
  }
}
</style>