<template>
  <div class="post-card">
    <div v-if="post.image" class="image-wrap">
      <div class="post-card__image image-sepia" :style="{'background-image': 'url('+`${post.image}`+')'}">
      </div>
    </div>
    <div class="content">
      <h3 class="post-heading">{{ post.title }}</h3>
      <div class="intro-text">{{ post.intro }}</div>
      <a v-if="more" class="read-more"  @click="$router.push(`${link}`)">More...</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostListItemCard",
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      more: true,
      link: ""
    }
  },
  methods: {
    createLink () {
      this.link = (this.post?.type + "/" + this.post?.id);
      console.log(this.link);
    }
  },
  mounted() {
    this.createLink ();
  }
}
</script>
<style>
.post-card {
  flex-basis: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.post-card__image {
  overflow: hidden;
  width: 100%;
  border-radius: 0;
  min-height: 187px;
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .post-card__image {
    border-radius: 7px;
    min-height: 270px;
  }
}
</style>