<template>
  <div class="cta-wrap">
    <div class="cta-content">
      <h3 class="cta-title">{{ post.title }}
      </h3>
      <div class="cta-description i-b">
        {{ post.intro }}
      </div>
    </div>
    <div class="cta-btn">
      <ButtonBase
          @click="toLocation"
          :class="[post.btn_size, post.btn_type]"
          class="btn-full">{{ post.btn_text }}</ButtonBase>
    </div>
  </div>
  <divider v-if="post.divider" class="i-b"></divider>
</template>

<script>
import ButtonBase from "@/components/UI/buttons/ButtonBase";
export default {
  name: "PostCta",
  components: {ButtonBase},
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  methods: {
    toLocation(){
      window.location.href = this.post.href
    }
  }
}
</script>

<style scoped>
.cta-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0 130px;
}
.cta-content {
  display: flex;
  flex-direction: column;
}
.cta-title {
  font-size: 2.2em;
  margin-bottom: 30px;
}
.cta-btn {
  margin-bottom: 50px;
}
@media (min-width: 1024px)  {
  .cta-wrap {
    flex-direction: row;
  }
  .cta-btn {
    flex-basis: 570px;
  }
  .cta-content {
    flex-basis: 470px;
  }
}
</style>