<template>
<div class="post-preview">
  <div class="post-image image-sepia" :style="{'background-image': 'url('+`${post.image}`+')'}">
  </div>
  <div class="content">
    <h3 class="post-heading">{{ post.title }}</h3>
    <div class="intro-text">{{ post.intro }}</div>
    <a v-if="more" class="read-more" @click="$router.push(`/posts/${post.id}`)">Дізнатись більше...</a>
  </div>
</div>
</template>

<script>
export default {
  name: "PostListItem",
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      more: true,
      link: "",
    }
  }
  // methods: {
  //   createLink () {
  //     this.link = (this.post?.type + "/" + this.post?.id);
  //     console.log(this.link);
  //   }
  // },
  // mounted() {
  //   this.createLink ();
  // }
}
</script>

<style scoped>
.post-preview {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 25px;
}
.content {
  flex-grow: 1;
  order: 2;
}
.post-image {
  flex-grow: 2;
  position: relative;
  min-height: 420px;
  order: 1;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 25px;
  background-repeat:  no-repeat;
  background-position: center;
  background-size: cover;
}
.post-heading {
  font-size: 2.2em;
  line-height: 1.2em;
  margin-bottom: 36px;
}
.intro-text {
  padding-bottom: 35px;
}
@media(min-width: 1024px) {
  .post-preview {
    flex-direction: row;
    margin-bottom: 35px;
    justify-content: space-between;
  }
  .post-image {
    min-width: calc(66.66% - 10px);
    order: 2;
    margin-bottom: 0px;
  }
  .content {
    order: 1;
  }
}
</style>