<template>
  <transition-group appear name="post-list">
    <post-list-item
        v-for="post in news"
        :post="post"
        :key="post.id"
    ></post-list-item>
  </transition-group>
</template>

<script>
import PostListItem from "@/components/PostListItem";

export default {
  name: "PostList",
  components: {PostListItem},
  props: {
    news: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.post-list-enter-active, .post-list-leave-active {
  transition: opacity .5s;
}
.post-list-enter, .post-list-leave-to /* .fade-leave-active */
{
  opacity: 0;
}
</style>