<template>
  <ul class="social-links">
    <social-link
        v-for="link in sociallinks"
        :link="link"
        :key="link.id"
    />
  </ul>
</template>

<script>
import SocialLink from "@/components/UI/links/SocialLink";

export default {
  name: "SocialLinks",
  components: {SocialLink},
  data() {
    return {}
  },
  props: {
    sociallinks: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.social-links {
  display: flex;
  justify-content: center;
  gap: 18px;
}
.social-links {
  list-style: none;
  color: #000000;
  font-family: Oswald-Bold;
}
@media (min-width: 1200px)  {
  .social-links {
    justify-content: flex-start;
  }
}
</style>