<template>
  <button @click.stop="animateRipple" ref="rippleBtn" class="btn-middle"><span><slot></slot></span><span class="arrow arrow-btn-middle"></span>
    <transition-group>
		<span
        class="ripple"
        :ref="'ripple-' + i"
        :key="'ripple' + i"
        v-for="(val, i) in ripples"
        :style="{'top': val.y + 'px', 'left': val.x + 'px'}"
        @animationend="rippleEnd(i)"
    >
		</span>
    </transition-group>
    <span></span>
  </button>
</template>

<script>
import buttonMixin from "@/components/mixins/buttonMixin";
export default {
  name: "ButtonMiddle",
  props: {
    btn_type: {
      type: String,
      required: true,
    }
  },
  mixins: [buttonMixin]
}
</script>

<style scoped>

</style>