<template>
  <button @click.stop="animateRipple" ref="rippleBtn" class="btn-small"><span><slot></slot></span><span class="arrow"></span>
    <transition-group>
		<span
        class="ripple"
        :ref="'ripple-' + i"
        :key="'ripple' + i"
        v-for="(val, i) in ripples"
        :style="{'top': val.y + 'px', 'left': val.x + 'px'}"
        @animationend="rippleEnd(i)"
    >
		</span>
    </transition-group>
    <span></span>
  </button>
</template>

<script>
import buttonMixin from "@/components/mixins/buttonMixin";
export default {
  name: "ButtonSmall",
  mixins: [buttonMixin]
}
</script>

<style scoped>

</style>