<template>
<button class="button-toggle" @click="toggleMenu"><slot></slot></button>
</template>

<script>
export default {
  name: "ToggleButton",
  methods: {
    toggleMenu: function () {
      const body = document.getElementsByTagName("body")[0];
      const navbar = document.querySelector(".navbar");
      const toggle = document.querySelector('.button-toggle');
      (!body.classList.contains("display_menu")) ? body.classList.add("display_menu") : body.classList.remove("display_menu");
      (!navbar.classList.contains("navbar_visible")) ? navbar.classList.add("navbar_visible") : navbar.classList.remove("navbar_visible");
      (!toggle.classList.contains("toggle_open")) ? toggle.classList.add("toggle_open") : toggle.classList.remove("toggle_open");
    }
  }
}
</script>

<style scoped>
.button-toggle {
  font-family: Oswald-Bold;
  position: relative;
  display: block;
  cursor: pointer;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  font-size: 10px;
  color: #2E3339;
  padding-top: 16px;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s ease;
}
.button-toggle:before, .button-toggle:after {
  position: absolute;
  content: " ";
  width: 32px;
  height: 6px;
  background-color: #2E3339;
  left: 0;
  right: 0;
  transition: all 0.2s ease;
}
.button-toggle:before {
  top: 0;
}
.button-toggle:after {
  top: 10px;
}
.button-toggle.toggle_open {
  color: transparent;
}
.button-toggle.toggle_open:before {
  top: 10px;
  transform: rotate(45deg);
}
.button-toggle.toggle_open:after {
  transform: rotate(-45deg);
}
@media (min-width: 1024px) {
  .button-toggle {
    display: none;
  }
}
</style>