<script setup>
import Header from "@/layouts/TheHeader";
import Footer from "@/layouts/TheFooter";
</script>
<template>
  <Header />
  <router-view/>
  <Footer />
</template>
<style>
#app {
  font-family: Lato, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  line-height: 1.8em;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #EDEAE5;
  font-family: Lato, Arial, sans-serif;
}
h1, h2, h3, h4 {
  font-family: Oswald-Bold;
}
img {
  max-width: 100%;
  height: auto;
}
.page-title {
  font-size: 2.8em;
  margin-bottom: 50px;
}
.container {
  width: 100%;
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container:after {
  display: table;
}
@font-face {
  font-family: "Andika";
  src: url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
}
@font-face {
  font-family: "Lato";
  src: local("Lato"), url(./fonts/Lato/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato-Bold";
  src: local("Lato-Bold"), url(./fonts/Lato/Lato-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-Bold";
  src: local("Oswald"), url(./fonts/Oswald/Oswald-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "Oswald-Light";
  src: local("Oswald"), url(./fonts/Oswald/Oswald-Light.ttf) format("truetype");
}
a {
  cursor: pointer;
}
.read-more {
  text-decoration: underline;
}
#nav a.router-link-exact-active {
  color: #42b983;
}
.text-bold {
  font-weight: bold;
}
.text-primary {
  position: relative;
  font-family: Oswald-Bold;
}
.text-decor {
  position: relative;
}
.text-decor:before, .text-decor:after {
  position: absolute;
  display: block;
  width: 8%;
  top: 0;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100%;
  content: " ";
  background-image: url("./assets/images/decor.svg");
}
.text-decor:before {
  left: -26%;
}
.text-decor:after {
  left: -17%;
}
.image-description {
  text-align: center;
  font-size: .8em;
}
.heading-large {
  font-family: Oswald-Bold;
  font-size: 2.3em;
  line-height: 1.1em;
  letter-spacing: -1px;
  margin-bottom: 20px;
}
.section-title {

}
.text-center {
  text-align: center;
}
.i-b {
  margin-bottom: 64px;
}
.btn-large {
  cursor: pointer;
  border: 10px solid #2E3339;
  color: #2E3339;
  padding: 20px;
  font-size: 21px;
  font-family: Oswald-Bold;
}
.btn-middle {
  cursor: pointer;
  border: 10px solid #2E3339;
  color: #2E3339;
  padding: 10px;
  font-size: 21px;
  font-family: Oswald-Bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn-small {
  position: relative;
  cursor: pointer;
  border: 10px solid #2E3339;
  color: #2E3339;
  padding: 10px;
  font-size: 21px;
  font-family: Oswald-Bold;
  line-height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn-primary {
  background-color: #da6c54;
}
.btn-secondary {
  background-color: #ead692;
}
.btn-tertiary {
  background-color: #6EA96E;
}
.btn-primary-light {
  background-color: #D78C63;
}
.btn-info {
  background-color: #6FAAC9;
}
.btn-full {
  width: 100%;
}
button {
  outline: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
}
.ripple {
  background-color: rgba(237, 234, 229, 0.5);
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-100%) translateY(-100%);
  mix-blend-mode: screen;
  animation: ripple 1250ms ease-out forwards, fade 1500ms ease-out forwards;
}
@keyframes ripple {
  0% {
    transform: translate(-100%, -100%);
  }
  80% {
    transform: translate(-100%, -100%) scale(50);
  }
  100% {
    transform: translate(-100%, -100%) scale(50);
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.indent {
  margin-top: 25px;
  margin-bottom: 25px;
}
.indent-small {
  margin-bottom: 15px;
}
.indent-huge {
  margin-bottom: 128px;
}
.arrow {
  display: inline-block;
  background-image: url(assets/icons/Arrow.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.btn-small .arrow {
  width: 32px;
  height: 30px;
  margin-left: 25px;
}
.btn-middle .arrow {
  width: 32px;
  height: 30px;
  margin-left: 25px;
}
.image-sepia {
  filter: sepia(60%);
  -webkit-filter: sepia(60%);
  transition: filter 500ms linear;
  -webkit-transition: -webkit-filter 500ms linear;
}
.image-sepia:hover {
  filter: sepia(0%);
  -webkit-filter: sepia(0%);
}
button, a, li {
  -webkit-tap-highlight-color: transparent;
}
.facebook{
  background-image: url("./assets/icons/facebook.svg");
}
.instagram {
  background-image: url("./assets/icons/instagram.svg");
}
@media (max-width: 1199px) {
  .screen-visible {
    display: none !important;
    visibility: hidden;
  }
}
body.display_menu {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
@media(min-width: 768px)  {
  .mobile-only {
    display: none !important;
  }
}
@media (min-width: 1200px)  {
  /*body {*/
  /*  font-size: 1.1em;*/
  /*}*/
  .screen-visible {
    display: block;
    visibility: visible;
  }
  .heading-large {
    font-size: 3em;
    line-height: 1em;
    letter-spacing: -2px;
    margin-bottom: 30px;
  }
  .btn-large {
    border: 10px solid #2E3339;
    padding: 20px;
    font-size: 21px;
  }
  .btn-middle {
    border: 10px solid #2E3339;
    padding: 25px;
    font-size: 36px;
    line-height: 1.2em;
  }
  .btn-middle .arrow {
    width: 66px;
    height: 56px;
    margin-left: 35px;
  }
}
</style>
