<template>
<div class="container footer-container">
  <divider/>
  <div class="footer-content">
    <footer-branding :title="title" :subtitle="subtitle"/>
    <div class="menu-wrap">
      <footer-menu :menu="menu"></footer-menu>
      <SocialLinks :sociallinks="socialLinks" class="footer-social"></SocialLinks>
    </div>
    <div class="copyright">{{ copyright }}</div>
  </div>
  <divider/>
  <div class="footer-bg"></div>
</div>
</template>

<script>
import Divider from "@/components/UI/Divider";
import FooterBranding from "@/components/FooterBranding";
import FooterMenu from "@/components/FooterMenu";
import SocialLinks from "@/components/SocialLinks";
import axios from "axios";
export default {
  name: "Footer",
  components: {SocialLinks, FooterMenu, FooterBranding, Divider},
  data() {
    return {
      siteName: "",
      title: "",
      subtitle: "",
      copyright: "",
      content: [],
      nodes: {},
      socialLinks: [],
      menu: [],

    }
  },
  methods: {
    async fetchLayouts() {
      try {
        const response = await axios.get('api/layouts');
        this.content = response.data.data
        this.nodes = JSON.parse(this.content.layouts[1].elements);
        this.menu = this.content.nav_menu;
        this.socialLinks = this.content.social_links;
        this.siteName = this.nodes.elements.site_name.split(' ');
        this.title = this.siteName[0];
        this.subtitle = this.siteName[1];
        this.copyright = this.nodes.elements.copyright
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted() {
    this.fetchLayouts()
  }
}
</script>

<style scoped>
.footer-social {
  margin-bottom: 50px;
}
.footer-container {
  margin-top: 50px;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 0 80px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer-bg {
  position: relative;
  display: block;
  width: 100%;
  height: 215px;
  background-position: left;
}
.footer-bg  {
  background-image: url("../assets/images/ft_bg.svg");
}
.footer-bg:before, .footer-bg:after {
  background-image: url("../assets/images/ft_corner_bg.svg");
}

.footer-bg:before, .footer-bg:after {
  position: absolute;
  display: block;
  content: " ";
  height: 215px;
  background-repeat: no-repeat;
  width: 60px;
}
.footer-bg:after {
  right: 0px;
  z-index: 2;
  background-position: right;
}
.footer-bg:before {
  transform: rotateY(180deg);
  background-position: right;
  background-repeat: no-repeat;
}
.menu-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
}
@media(min-width: 768px) and (max-width: 1023px) {
  .menu-wrap {
    flex-basis: 300px;
  }
  .footer-social {
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .footer-content {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media(min-width: 1024px) {
  .footer-container {
    margin-top: 128px;
  }
  .footer-content {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer-social {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-wrap {
    flex-direction: row;
    display: flex;
    flex-basis: 570px;
    flex-grow: 0;
    justify-content: flex-start;
  }
  .copyright {
    font-size: .9em;
    min-width: 40%;
  }
  .footer-bg {
    margin-bottom: 135px;
  }
}
</style>