<template>
  <header class="header">
    <div class="container">
      <div class="top">
        <date-board :city="city"></date-board>
        <branding :title="siteTitle"></branding>
        <div class="support-link screen-visible">
          <button-base
              :class="[button.size, button.type]"
              @click="$router.push('/support')"
          >{{ button.text }}
          </button-base>
        </div>
        <toggle-button>Меню</toggle-button>
      </div>
      <divider class=""></divider>
      <div class="navbar">
        <nav-menu :navmenu="navLinks"></nav-menu>
        <social-links :sociallinks="socialLinks"></social-links>
      </div>
    </div>
  </header>
</template>
<script>
import NavMenu from "@/components/NavMenu";
import Branding from "@/components/LogoBranding";
import DateBoard from "@/components/DateBoard";
import SocialLinks from "@/components/SocialLinks";
import axios from "axios";

export default {
  name: "Header",
  components: {SocialLinks, DateBoard, Branding, NavMenu},
  data() {
    return {
      content: [],
      nodes: {},
      navLinks: [],
      socialLinks: [],
      siteTitle: "",
      city: "",
      button: {}
    }
  },
  methods: {
    async fetchLayouts() {
      try {
        const response = await axios.get('api/layouts');
        this.content = response.data.data
        this.nodes = JSON.parse(this.content.layouts[0].elements);
        this.navLinks = this.content.nav_menu;
        this.socialLinks = this.content.social_links;
        this.siteTitle = this.nodes.elements.site_title;
        this.city = this.nodes.elements.city;
        this.button = this.nodes.elements.button;
      } catch (e) {
        console.error(e)
      }
    }
  },
  mounted() {
    this.fetchLayouts()
  }
}
</script>


<style scoped>
.header {
  margin-bottom: 50px;
}
.top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  flex-wrap: wrap;
  z-index: 600;
  margin-bottom: 25px;
}
.support-link {
  max-width: 240px;
}
.navbar {
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  flex-direction: column;
  position: fixed;
  opacity: 0;
  transition: opacity 0.1s 0.3s;
}
.navbar:before {
  display: block;
  width: 100%;
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.1s 0.2s;
}
.divider {
  display: none;
}
.navbar.navbar_visible {
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100px;
  padding: 0 15px;
  background-color: #fff;
  z-index: 100;
  opacity: 1;
  transition: opacity 0.1s 0.2s;
}
.navbar.navbar_visible:before {
  top: -100px;
  bottom: 0;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 0.2s 0.2s;
}
@media (min-width: 1024px)  {
  .header {
    margin-bottom: 85px;
  }
  .navbar {
    top: unset;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    background-color: transparent;
    opacity: 1;
  }
  .navbar:before {
    background-color: transparent;
    display: block;
    width: 100%;
    position: absolute;
    content: " ";
    z-index: -1;
    opacity: 0;
  }
  .navbar.navbar-visible:before {
    background-color: transparent;
    opacity: 0;
    display: none;
  }
  .divider {
    margin-top: 25px;
  }
}
</style>