<template>
  <li class="nav-item"><a class="nav-link" :class="{'router-link-active': $route.fullPath === item.href}" @click="$router.push(`${item.href }`); hideNavbar()">
    {{ item.title }}</a>
  </li>
</template>

<script>
export default {
  name: "NavMenuItem",
  props: {
    item: {
      type: Object,
      required: true,
    }

  },
  methods: {
    hideNavbar: function () {
      const navbar = document.querySelector('.navbar');
      const body = document.getElementsByTagName("body")[0];
      const toggle = document.querySelector('.button-toggle');
      if (navbar.classList.contains('navbar_visible')) {navbar.classList.remove('navbar_visible')}
      if(body.classList.contains("display_menu")) {body.classList.remove("display_menu") }
      if (toggle.classList.contains("toggle_open")) {toggle.classList.remove("toggle_open")}
    }
  }
}
</script>

<style scoped>
.nav-link, .nav-item {
  position: relative;
  text-decoration: none;
  font-family: Oswald-Bold;
  color: #000000;
  cursor: pointer;
  font-size: 21px;
}
.nav-item {
  flex-basis: 130px;
  flex-grow: 1;
}
.nav-link {
  display: flex;
  border: 5px solid #2E3339;
  background-color: #EDEAE5;
  padding: 5px 15px 10px;
  text-align: center;
  justify-content: center;
  white-space: nowrap;
}
@media (min-width: 1024px)  {
  .nav-link, .nav-item {
    background-color: transparent;
    border-color: transparent;
    border-width: 0px;
    text-align: unset;
    justify-content: unset;
  }
  .nav-item {
    flex-basis: unset;
    flex-grow: unset;
  }
  .nav-link {
    padding: 10px 0;
  }
  .nav-link.router-link-active {
    color: #DA6C54;
  }
  .nav-link.router-link-active:before {
    position: absolute;
    width: 100%;
    content: " ";
    left: 0;
    right: 0;
    top: -36px;
    z-index: 5;
    height: 0px;
    border-top: 10px solid #EDEAE5;
    border-bottom: 10px solid #DA6C54;
  }
}

</style>