<template>
<li class="list-item"><span class="social-icon" :class="`${social_class}`"></span>
  <a class="list-link" :href="`${link.href }`">{{ link.title }}</a>
</li>
</template>

<script>
export default {
  name: "SocialLink",
  data() {
    return {
      social_class: ''
    }
  },
  props: {
    link: {
      type: Object,
      required: true
    }
  },
  methods: {
    createStyle () {
      this.social_class = this.link.title.toLowerCase()
    }
  },
  mounted() {
    this.createStyle()
  }
}
</script>

<style scoped>
.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list-link {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}
@media(min-width: 768px)  {
  .list-link {
    margin-left: 15px;
  }
  .list-item {
    flex-direction: row;
  }
}
.social-icon {
  display: block;
  width: 22px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>