<template>
<span class="divider"></span>
</template>

<script>
export default {
  name: "Divider"
}
</script>

<style scoped>
.divider {
  position: relative;
  display: block;
  width: 100%;
  background-color: #2E3339;
  height: 10px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.divider:before, .divider:after  {
  position: absolute;
  display: block;
  width: 1px;
  height: 10px;
  background-color: #D3D3D3;
  content: " ";
  top: 0px;
}
.divider:before {
  left: 33.33%;
}
.divider:after {
  right: 33.33%;
}
</style>